<h1>Auction for {{auction.name}}</h1>
<div>This auction was set by <u>{{auction.author.name}}</u></div>
<br>
<div>Condition: {{auction.condition}}</div>
<br>
<div>Description:</div>
<div>{{auction.description}}</div>
<hr>
<div>It started at {{auction.startsAt}}</div>
<div>It ends by {{auction.endsAt}}</div>
